---
layout: page
permalink: /about
title: "Hey, I'm Rashad West…"
meta_description: |
  I am bringing data science into basketball, not just to analyze the game but to reshape how athletes maximize their exposure and opportunities..
sub_title: "Let’s get to know each other a little better…"
header_image: "/assets/images/art/bg1.webp"
classic_light_header: true
thumbnail: /assets/images/display/about-rashad.jpg  
video_area:
  enable: true
  title: "Hey, I'm Rashad West…"
  sub_title: "I am bringing data science into basketball, not just to analyze the game but to reshape how athletes maximize their exposure and opportunities."
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  image_url: "/assets/images/display/about-rashad.jpg"
  description: |
    Through BTE Analytics, we leverage proprietary data models to measure player performance, optimize visibility, and connect elite athletes with the right brands, scouts, and decision makers.
    <br/><br/>
    I am bringing data science into basketball, not just to analyze the game but to reshape how athletes maximize their exposure and opportunities. Through BTE Analytics, we leverage proprietary data models to measure player performance, optimize visibility, and connect elite athletes with the right brands, scouts, and decision makers.
    <!-- From challenging assumptions about the greatest shooters of all time to developing interactive experiences like Beat The Expert, a basketball based math game, my work goes deeper than traditional stats. I explore shot quality, effective field goal percentage, and advanced analytics to give athletes a new perspective on their game.
    <br/>
    With custom shot plots, heat maps, and data driven insights, I am committed to empowering players at every level, whether it is a youth athlete learning STEAM through sports or an elite prospect maximizing their NIL potential.
    <br/>
    Thanks for joining me on this journey. I am excited about where we are taking the future of sports, data, and innovation. -->
  projects:
    - projects_number: "7518"
      title: "Completed Projects"

    - projects_number: "3472"
      title: "Satisfied Customers"

    - projects_number: "523"
      title: "Awards Won"

how_it_works:
  enable: true
  title: "Work in Progress"
  sub_title: "Over the years, I’ve dedicated myself to helping young players and fans of basketball deepen their skills and understanding of the game through data-driven insights and STEAM education. My work is all about challenging assumptions, finding new ways to evaluate performance, and supporting players as they grow. "
  image: "/assets/images/display/Speaker5.webp"
  steps:
    - title: "Education"
      description: "<ul>
  <li>- 🎓 Hampton University, BS, Business Management</li>
  <li>- 💡 Stanford University, Entrepreneurship & Innovation Program (Remote)</li>
  <li>- 🤖 New York University, AI School (Artificial Intelligence)</li>
</ul>
"
      icon_style: "icon-blob-teal color-teal"
      icon: "icofont-education"

    - title: "Data Analytics Coursework"
      url: "portfolios"
      text: "Datacamp: See Coursework Section"
      icon_style: "icon-blob-blue color-blue"
      icon: "icofont-data"

    - title: "Other CS Coursework"
      description: "<ul >
  <li>- 💻 General Assembly: Introduction to Ruby on Rails (weekend course)</li>
  <li>- 📱 General Assembly: Introduction to iOS Development (weekend course)</li>
  <li>- 🎮 Unity C# Game Development 2D</li>
  <li>- 🕹️ CS50: Introduction to Game Development</li>
</ul>
"
      icon_style: "icon-blob-yellow color-yellow"
      icon: "icofont-network-tower"

    - title: "Certifications"
      description: "<ul >
  <li>- 🎥 Google, VR & 360 Video Certification</li>
  <li>- 📲 NIL Certification (Front Office Sports, Instagram, Facebook)</li>
  <li>- 🪙 Crypto in Sports Essentials (Front Office Sports, Coinbase)</li>
</ul>
"
      icon_style: "icon-blob-green color-green"
      icon: "icofont-certificate-alt-2"

testimonials:
  enable: true
  bg_image: "/assets/images/art/bg5.webp"
  title: "Customer Stories"
  feedback:
    - quote: |
        BTE Analytics were very professional and detailed during our meeting. The amount of shared IP was invaluable.
      image: "/assets/images/clients/Hodge__Julius.webp"
      name: "Julius Melvin Hodge"
      designation: "Former NBA Player and now Divison 1 Coach"

    - quote: |
        Rashad approaches his passion for sports innovation and analytics with the same thorough dedication he had as a high-performing athlete.
      image: "/assets/images/clients/Mac-Wilkinson.png"
      name: "Mac Wilkerson"
      designation: "Founder of Moolathan and Former Professional Basketball player"
      
    - quote: |
        Meeting went well and I love the platform
      image: "/assets/images/clients/Corey Crowder.jpeg"
      name: "Corey Crowder"



pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  pricing_url: "#"
  pricing_text: "See All Prices"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      popular: popular
      monthly_price: 9
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-mobile.webp"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-store.webp"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

community:
  enable: true
  title: "Community"
  sub_title: "Let's make something great together. If you got any questions, don't hesitate to get in touch with us."
  image: "/assets/images/display/steam-advocate.png"

past_projects:
  enable: true
  sub_title: ""
  image: "/assets/images/display/projects.png"

interview:
  title: How I can support you to thrive in your business or career…
  images:
    - image_title: BTE_Analytics Moveahead Partnership
      image: BTE_Analytics_Moveahead_Partnership (1).png
    - image_title: Techstars DC
      image: Techstars_DC.webp
    - image_title: CJ MCCollom Pelicans 
      image: CJ_MCCollom_Pelicans (1).png
    - image_title: MIT SSAC Sports Analytics Conference
      image: MIT_SSAC_Sports_Analytics_Conference.jpg

  join_us: https://sparc.world/RashadWest/calendar/Emerging-Tech


---

<style>
  .content-wrapper ul li {
    font-size: 16px !important;
  }
</style>

{% if page.about_area.enable %}
<!-- <div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
        {% if page.about_area.title %}
        <h2 class="title-color color-gray text-center">
          {{page.about_area.title}}
        </h2>
        {% endif %} {% if page.about_area.sub_title %}
        <h3 class="display-3 text-center">{{page.about_area.sub_title}}</h3>
        {% endif %}
        <div class="space40"></div>
      </div>
    </div>
    <div class="row gutter-50">
      {% for services in page.about_area.services %}
      <div class="space20 d-none d-md-block d-lg-none"></div>
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob {{services.icon_style}} mr-25">
              <i class="{{services.icon}}"></i>
            </div>
          </div>
          <div>
            <h5>{{services.title}}</h5>
            <p>{{services.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->
<!-- /.wrapper -->
{% endif %} {% if page.video_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
        {% if page.video_area.image_url %}
        <div class="img-blob blob7">
          <img
            src="{{page.video_area.image_url }}"
            style="width: 30rem"
            alt="{{page.video_area.title}}"
          />
        </div>
        {% endif %} {% if page.video_area.video_url %}
        <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
        {% endif %}
      </div>
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.video_area.title %}
        <h2 class="title-color color-gray">{{page.video_area.title}}</h2>
        {% endif %} {% if page.video_area.sub_title %}
        <h class="display-3 text-xl">{{page.video_area.sub_title}}</h>
        {% endif %}
        <div class="space20"></div>
        <p class="">{{page.video_area.description}}</p>
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %} {% if page.how_it_works.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h5
      class="text-xl font-semibold text-center col-lg-12 max-w-full px-5 md:max-w-[75%] mx-auto"
    >
      {{page.how_it_works.sub_title}}
    </h5>
    <div class="row">
      {% if page.how_it_works.image %}
      <div class="col-lg-6 order-lg-2">
        <figure>
          <img
            src="{{page.how_it_works.image}}"
            alt="{{page.how_it_works.title}}"
            class=""
            style="
              border-bottom-left-radius: 32px;
              border-top-right-radius: 32px;
            "
          />
        </figure>
      </div>
      {% endif %}
      <div class="space40"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
        <h2 class="title-color color-gray">{{page.how_it_works.title}}</h2>
        {% for step in page.how_it_works.steps %}
        <div class="space30"></div>
        <div class="d-flex flex-row justify-content-start">
          <div>
            <span class="icon icon-blob {{step.icon_style}} mr-25">
              <i class="{{step.icon}}"></i
              ><span class="step bg-blue">{{forloop.index}}</span>
            </span>
          </div>
          <div>
            <h5>{{step.title}}</h5>
            {% if step.description %}
            <p class="mb-0">{{step.description}}</p>
            {% endif %} {% if step.url %}
            <a href="{{site.url}}{{site.baseurl}}/{{step.url}}"
              >{{step.text}}</a
            >
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->

{% endif %} {% if page.testimonials.enable %}
<div
  class="wrapper image-wrapper bg-image inverse-text"
  data-image-src="{{page.testimonials.bg_image}}"
>
  <div class="container inner pt-100">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% if page.testimonials.title %}
        <h2 class="title-color color-white text-center mb-30">
          {{page.testimonials.title}}
        </h2>
        {% endif %}
        <div
          class="basic-slider owl-carousel gap-small text-center mb-0"
          data-margin="30"
        >
          {% for feedback in page.testimonials.feedback %}
          <div class="item">
            <blockquote class="icon larger">
              <p>"{{feedback.quote}}"</p>
              <div class="blockquote-details justify-content-center">
                {% if feedback.image %}
                <div class="img-blob blob1">
                  <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                </div>
                {% else %}
                <div class="img-blob blob1">
                  <img
                    src="/assets/images/clients/dummy-user.png"
                    alt="Dummy User"
                  />
                </div>
                {% endif %}
                <div class="info">
                  <h6 class="mb-0">{{feedback.name}}</h6>
                  {% if feedback.designation %}
                  <span class="meta mb-0">{{feedback.designation}}</span>
                  {% else %}
                  <span class="meta mb-0">No Designation</span>
                  {% endif %}
                </div>
              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <div class="row align-items-start flex-row-reverse">
      {% if page.past_projects.image %}
      <div class="col-lg-6">
        <figure>
          <img
            src="{{page.past_projects.image}}"
            alt="{{page.past_projects.title}}"
          />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="space10 d-md-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.past_projects.title %}
        <h2 class="mb-0">{{page.past_projects.title}}</h2>
        {% endif %}
        <h3>📁 Past Projects</h3>
        <ul>
          <li>
            🕹️ Beat The Expert VR application (version 1) – It is a virtual
            trainer
          </li>
          <li>
            🎯 Beat The Expert VR application (version 2) – Compete with virtual
            characters
          </li>
          <li>🌐 Beat The Expert WebApp – Houses our curriculum and game</li>
          <li>
            👩‍👧 Single Mothers VR Experience – Shows the life of a low-income
            single mother
          </li>
          <li>💎 VR Diamond League – Producing the next elite athlete</li>
          <li>
            🏀 Sports Coding Game – Teaching kids how to code through sports
          </li>
        </ul>

        <h3>🚀 Innovation Programs</h3>
        <ul>
          <li>
            🎓 Berkley Startup Program – Learned about the legal aspects of a
            startup
          </li>
          <li>💼 Code 2040 Entrepreneurship Weekend</li>
          <li>📈 Deloitte Scaleup</li>
          <li>🌟 Techstars</li>
          <li>📊 Rolling Insights</li>
          <li>🏛️ NCIDEA (HQ) Labs</li>
          <li>🎮 Oculus/Facebook LaunchPad</li>
          <li>⚒️ Analytics workshops at College</li>
        </ul>

        <div class="space10"></div>
        {% if page.past_projects.btn_one_text %}
        <a href="mailto:{{site.email}}" class="btn"
          >{{page.past_projects.btn_one_text}}</a
        >
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title text-center">{{page.interview.title}}</h2>
    <div class="grid-view boxed light-gallery-wrapper text-center">
      <div
        class="carousel owl-carousel gap-small"
        data-margin="0"
        data-dots="true"
        data-autoplay="false"
        data-autoplay-timeout="5000"
        data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'
      >
        <!-- /item -->
        {% for item in page.interview.images %}
        <div class="item">
          <div class="item-inner">
            <div class="box bg-white shadow p-30">
              <figure class="main overlay overlay2 rounded mb-30">
                <a
                  href="{{ relative_url }}/assets/images/display/{{ item.image }}"
                  class="lightbox"
                >
                  <img
                    src="{{ relative_url }}/assets/images/display/{{ item.image }}"
                    alt="{{ item.image_title }}"
                  />
                </a>
              </figure>
              <div class="post-content">
                <h2 class="post-title mb-10">
                  {{ item.image_title | default: "Untitled" }}
                </h2>
              </div>
              <!-- /.post-content -->
            </div>
            <!--/.item-inner -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.item -->
        {% endfor %}

        <!-- /.item -->
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
  </div>
  <!-- /.container -->
  <div class="space10"></div>
  <div
    class="box shadow max-w-[80%] mx-auto p-60 image-wrapper bg-full bg-image inverse-text rounded d-md-flex align-items-md-center justify-content-md-between"
    data-image-src="{{relative_url}}/assets/images/art/bg5.webp"
  >
    <h3 class="display-3 mb-0">Why not schedule a meeting with me?</h3>
    <div class="space30 d-md-none"></div>
    <a
      href="{{page.interview.join_us}}"
      target="_blank"
      class="btn btn-white btn-strong-hover mb-0"
    >
      <span> </span> Join me on a 1:1</a
    >
  </div>
</div>
<!-- /.wrapper -->
{% if page.community.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.community.image %}
      <div class="col-lg-6">
        <figure>
          <img src="{{page.community.image}}" alt="{{page.community.title}}" />
        </figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="space10 d-md-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.community.title %}
        <h2 class="mb-0">{{page.community.title}}</h2>
        {% endif %}
        <ul
          class="mt-10"
          style="list-style: none; font-size: 18px; padding-top: 10px"
        >
          <li>🎮 Creator, Beat the Expert (STEAM Sport)</li>
          <li>🕶️ Creator, North Carolina Small Business Fund VR Workshop</li>
          <li>📅 Organizer, Black Wall Street Tech Futures event</li>
          <li>👥 Leadership Team, Catalyst Network Foundation</li>
          <li>🎓 Keynote at Microsoft ManCode event</li>
          <li>
            🏕️ Board Member, Greater Development of All Youth (G.D.A.Y Camps)
          </li>
          <li>🎤 Speaker, Microsoft ManCode events</li>
          <li>⛳ Speaker, Boys and Girls Club Golf Tournament</li>
          <li>
            💡 Speaker, Verizon Innovative Learning (NCCU summer initiative)
          </li>
          <li>🏆 Speaker, Shaw University Sports Banquet</li>
          <li>
            🎓 Speaker, Saint Augustine University Sports Management Department
          </li>
          <li>🏈 Speaker, Johnson C. Smith Sports Management Department</li>
          <li>🎯 Speaker, Howard University Sports Management Department</li>
        </ul>

        <div class="space10"></div>
        {% if page.community.btn_one_text %}
        <a href="mailto:{{site.email}}" class="btn"
          >{{page.community.btn_one_text}}</a
        >
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
{% endif %}
<div class="space60"></div>
