<div class="carousel">
    <div class="progress-bar progress-bar--primary hide-on-desktop">
      <div class="progress-bar__fill"></div>
    </div>
  
  <header class="main-post-wrapper">
    
    <div class="slides">
      <article class="main-post main-post--active">
        <div class="main-post__image">
          <img src="{{site.baseurl}}/assets/img/header/superbowl-lvii-las-vegas-thumbnail.webp" alt="" loading="lazy" />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">Featured Blog</span>
          </div>
          <h1 class="main-post__title">Super Bowl Weekend in Las Vegas: Connections and Experiences</h1>
          <a class="main-post__link" href="{{site.baseurl}}/2024/11/04/Super_Bowl_Weekend_in_Las_Vegas/">
            <span class="main-post__link-text">Read more</span>
            <svg
              class="main-post__link-icon main-post__link-icon--arrow"
              width="37"
              height="12"
              viewBox="0 0 37 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                stroke="white"
              />
            </svg>
          </a>
        </div>
      </article>
      <article class="main-post main-post--not-active">
        <div class="main-post__image">
          <img src="{{site.baseurl}}/assets/img/feature-img/1.gif" alt="{{site.title_2}}" loading="lazy" />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">Athlete</span>
          </div>
          <h1 class="main-post__title">{{site.title_2}}</h1>
          <a class="main-post__link" href="#more-intro">
                <span class="main-post__link-text">find out more</span>
                <svg
                  class="main-post__link-icon main-post__link-icon--arrow"
                  width="37"
                  height="12"
                  viewBox="0 0 37 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                    stroke="white"
                  />
                </svg>
              </a>
        </div>
      </article>
      <article class="main-post main-post--not-active">
        <div class="main-post__image">
          <img src="{{site.baseurl}}/assets/img/feature-img/20240110_160544.webp" alt="" loading="lazy" />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">Portfolio</span>
          </div>
          <h1 class="main-post__title">Check out my Journey and Achievements</h1>
          <a class="main-post__link" href="{{site.baseurl}}/courses-and-certificates">
            <span class="main-post__link-text">find out more</span>
            <svg
              class="main-post__link-icon main-post__link-icon--arrow"
              width="37"
              height="12"
              viewBox="0 0 37 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                stroke="white"
              />
            </svg>
          </a>
        </div>
      </article>
      <article class="main-post main-post--not-active">
        <div class="main-post__image">
          <img src="{{site.baseurl}}/assets/img/feature-img/6.webp" alt="" loading="lazy" />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">Gallery</span>
          </div>
          <h1 class="main-post__title">View a Collection of my work and activities.
          </h1>
          <a class="main-post__link" href="{{site.baseurl}}/video-gallery">
                <span class="main-post__link-text">find out more</span>
                <svg
                  class="main-post__link-icon main-post__link-icon--arrow"
                  width="37"
                  height="12"
                  viewBox="0 0 37 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                    stroke="white"
                  />
                </svg>
              </a>
        </div>
      </article>
    </div>
  </header>
  
  <div class="posts-wrapper hide-on-mobile">
    <article class="post post--active">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">News</span>
        <p class="post__published">16 August 2019</p>
      </header>
      <h2 class="post__title">New McLaren wind tunnel 'critical' to future performance, says Tech Director Key</h2>
    </article>
    <article class="post">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">Video</span>
        <p class="post__published">12 August 2019</p>
      </header>
      <h2 class="post__title">What To Watch For in the 2019 Hungarian Grand Prix</h2>
    </article>
    <article class="post">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">News</span>
        <p class="post__published">08 August 2019</p>
      </header>
      <h2 class="post__title">Hamilton wants harder championship fight from Leclerc and Verstappen
      </h2>
    </article>
    <article class="post">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">News</span>
        <p class="post__published">08 August 2019</p>
      </header>
      <h2 class="post__title">Hamilton wants harder championship fight from Leclerc and Verstappen
      </h2>
    </article>
  </div>
</div>