<style>
    {% include cta.scss %}
</style>



<div class="carousel_container">
    <div class="carousel-item carousel-item--1">
      <div class="carousel-item__image"></div>
      <div class="carousel-item__info">
        <div class="carousel-item__container">
        <h2 class="carousel-item__subtitle">Services</h2>
        <h1 class="carousel-item__title">Book Rashad to Speak</h1>
        <p class="carousel-item__description">At BTE Analytics, we specialize in developing cutting-edge gaming software tailored for sports professionals, empowering them with advanced tools and innovative solutions.</p>
        <a href="#" target="_blank" rel="noopener noreferrer"><button class="button-86" role="button">BOOK NOW</button></a>
      </div>
      </div>
    </div>
    
  </div>

  <hr style="border-bottom: 1px solid rgba(0, 0, 0, .3) !important;">