
<div id="client-content">
    <h1>Our happy <span>Clients</span></h1>

    <div id="clients">
            <div class="clients-wrap">
              <ul id="clients-list" class="clearfix">
                {% for client in site.data.clients.img %}
                <li><img src="{{ site.baseurl }}/assets/img/clients/client-logo/{{ client.images }}" alt="{{ client.images}}"></li>
                {% endfor %}
              </ul>
            </div><!-- @end .clients-wrap -->
          </div><!-- @end #clients -->
        </div><!-- @end #content -->
     

<script>
document.addEventListener("DOMContentLoaded", function () {
  var clientCarousel = document.getElementById("clients-list");
  var clients = clientCarousel.children.length;
  var clientWidth = clients * 140; // 140px width for each client item
  clientCarousel.style.width = clientWidth + "px";

  var rotating = true;
  var clientSpeed = 1800;

  var seeClients = setInterval(rotateClients, clientSpeed);

  var clientsContainer = document.getElementById("clients");
  clientsContainer.addEventListener("mouseenter", function () {
    rotating = false; // turn off rotation when hovering
  });

  clientsContainer.addEventListener("mouseleave", function () {
    rotating = true; // turn rotation back on
  });

  function rotateClients() {
    if (rotating) {
      var firstClient = clientCarousel.querySelector("li:first-child");
      firstClient.style.transition = "margin-left 600ms";
      firstClient.style.marginLeft = "-140px";

      firstClient.addEventListener("transitionend", function () {
        firstClient.style.transition = "none";
        firstClient.style.marginLeft = "0px";
        clientCarousel.appendChild(firstClient);
      }, { once: true });
    }
  }
});

</script>