<style>
.intro-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Default: Two columns, each taking 50% width */
    gap: 20px;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    margin-top: 200px;
}

.text-intro,
.video-img-intro {
    padding: 10px; /* Optional: Add padding for content */
}
.text-intro {
    margin-top: -130px;
}

.video-img-intro video {
    width: 100%; /* Ensure the video fits its container */
    height: 650px; /* Maintain aspect ratio */
}

/* Tablet view: Stack into two rows */
@media (max-width: 768px) {
    .intro-container {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: auto auto; /* Rows will adjust to content height */
    }
    .text-intro {
    margin-top: 0px;
}
.text-intro h2{
    font-size: 20px !important;
}
}

/* Mobile view: Single column, smaller spacing */
@media (max-width: 480px) {
    .intro-container {
        grid-template-columns: 1fr; /* Single column */
        gap: 10px; /* Smaller gap for mobile */
    }

    .text-intro {
        text-align: left; /* Optional: Center text for mobile view */
        font-size: xx-large;
    }
    .text-intro {
    margin-top: 0px;
}
}


</style>
<section id="more-intro">
    <div class="intro-container">
        <div class="text-intro">
            <h2>{{site.title_2}}</h2>
            <p>{{site.description}}</p>
        </div>
        <div class="video-img-intro">
            <video controls poster="{{site.baseurl}}/assets/img/feature-img/thumbnail.png">
                <source src="{{site.baseurl}}/assets/img/feature-img/Performance_Data_Monetization.webm" type="video/webm" />
            </video>
            
        </div>
        
    </div>
</section>

<hr style="border-bottom: 1px solid rgba(0, 0, 0, .3) !important;">