<section id="more-intro">
    <div class="intro-container">
        <div class="text-intro">
            <h1>{{site.title_2}}</h1>
            <p>{{site.description}}</p>
        </div>
        <div class="video-img-intro">
            <video controls poster="{{site.baseurl}}/assets/img/feature-img/thumbnail.png">
                <source src="{{site.baseurl}}/assets/img/feature-img/Performance_Data_Monetization(480p).webm" type="video/webm" />
            </video>
            
        </div>
        
    </div>
</section>

<hr style="border-bottom: 1px solid rgba(0, 0, 0, .3) !important;">