<!-- VIEW FULLSCREEEEN BEST FOR 1440px-->
<!-- IMAGE OBTAINED FROM FREEPIK,VECTEEZY-->
<div class="outer">
	
	<div class="inner">
		<div class="prod-left">
			<h1 class="prod-head"><span style="color:#0f457f">Our</span> Mission</h1>
			<h4 class="prod-head-sub text-gradient">We are specialized in bringing data science into basketball, creating an algorithm and model to analyze player performance.</h4>
		</div>
		<div class="prod-right">
			<img src="https://github.com/abhinanduN/codepen/blob/master/prod.png?raw=true" class="prod-human-img" alt="prod"/>
		</div>
	</div>
</div>