.about-1__foot-text{
    font-weight: bold;
    color: grey;
    font-size: 25px;
    font-style: italic;
    margin: 4%;
    text-align: center;
  }
  .about-1__description{
    text-align: center;
  }
  .about-1__description h1{
    font-size: 45px;
    color: grey;
    font-style: italic;
  }
  .about-1__image img{
    width: 3700px;
  }
  .about-2{
    background-color: #c7c7c7;
    min-height: 100vh;
    padding: 0px;
  }
  .about-2__description{
    text-align: center;
    padding: 4% 17% 0% 17%;
  }
  .about-2__description-1 a{
    color: #575757;
  }
  .about-2__description-1 a:hover{
    color: #000000;
  }
  
  .about-3{
    background-color: #ffffff;
    min-height: 100vh;
  }
  .about-3__flex{
    padding: 4% 4%;
    display: flex;
    flex-direction: row;
  }
  .about-4{
    background-color: #c7c7c7;
    min-height: 100vh;
  }
  .about-4 h2{
    text-align: center;
    padding: 4% 17% 0% 17%;
    font-style: italic;
    font-size: 40px;
    color: #000000;
  }
  .about-4__follow-up{
    display: flex;
    flex: row;
    column-gap: 25px;
    padding: 0% 4%;
  }
  .about-4__image-1{
    flex: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-4__image-1 a{
    display: contents;
  }
  .about-4__image-1 a:hover{
    color: black;
  }
  .about-4__image-2 a{
    display: contents;
  }
  .about-4__image-2 a:hover{
    color: black;
  }
  .about-4__image-1 .about-4__image-1__para-1{
    background-color: gray;
    padding: 10px;
    position: relative;
    width: 60px;
  }
  .about-4__image-1 .about-4__image-1__para-2{
    font-weight: bolder;
  }
  .about-4__image-2{
    flex: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-4__image-2 .about-4__image-2__para-1{
    background-color: gray;
    padding: 10px;
    position: relative;
  }
  .about-4__image-2 .about-4__image-2__para-2{
    font-weight: bolder;
  }
  .about-5__flex{
    padding: 4% 4%;
    display: flex;
    flex-direction: row;
  }
  .about-5__description-1{
    flex: 50%;
  }
  .about-5__image{
    flex: 50%;
  }
  .about-6{
    text-align: center;
    padding: 4% 4%;
    margin: 0% 10%;
    box-shadow: 15px 15px 200px rgb(234 234 234);
  }
  .about-6 h2{
    color: #808080;
    font-style: italic;
    font-weight: bold;
  }
  .about-6__client-name{
    font-style: italic;
    font-weight: bold;
  }
  .about-6__date{
    text-align: right;
    margin-right: 20px;
    color: #c7c7c7;
    font-style: italic;
  }
  .about-6__button{
    padding: 10px 20px;
    color: #ffffff;
    background-color: #808080;
    border: 0px solid transparent;
  }
  @media screen and (max-width: 1024px) {
    .post-content{
      padding: 4% 0%;
  }
  .about-1__description h1{
    font-size: 25px;
    color: grey;
    font-style: italic;
  }
  .about-1{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0% 8%;
  }
  .about-1__foot-text{
    font-size: 15px;
  }
  .about-2{
    padding: 20px;
  }
  .about-2__description {
    padding: 4% 0% 0% 0%;
}
.about-2__flex{
    padding: 4% 4%;
    display: flex;
    flex-direction: column-reverse;
}
.about-3__flex {
    padding: 4% 4%;
    display: flex;
    flex-direction: column-reverse;
}
.about-4 h2{
    font-size: 25px;
}
.about-4__follow-up{
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    padding: 0% 4%;
  }
  }
  @media screen and (min-width: 1024px) {
    .line{
     display: none !important;
    }
    .post-content{
      padding: 4% 0% !important;
    }
    .about-1{
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    padding: 0% 8%;
  }
  .about-2__flex{
    padding: 4% 4%;
    display: flex;
    flex-direction: row-reverse;
  }
  .about-2__description-1{
    flex: 50%;
  }
  .about-2__image{
    flex: 50%;
  }

  }