{% if site.data.blogs_index.blogs_area.enable %}
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title text-center">
      {{site.data.blogs_index.blogs_area.title}}
    </h2>
    <p class="lead larger text-center">
      {{site.data.blogs_index.blogs_area.description}}
    </p>
    <div class="space20"></div>
    {% include blogs_button.html %}
    <div class="space20"></div>
    <div class="grid-view">
      <div
        class="carousel owl-carousel gap-small"
        data-margin="30"
        data-dots="true"
        data-autoplay="false"
        data-autoplay-timeout="5000"
        data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'
      >
        {% for post in site.posts limit: 7 %}
        <div class="item">
          {% if post.thumbnail %}
          <figure class="overlay overlay1 rounded mb-30">
            <a href="{{post.url}}">
              <img
                class="post-thumb"
                src="{{post.thumbnail}}"
                alt="{{post.title}}"
            /></a>
            <figcaption>
              <h5 class="from-top mb-0 text-uppercase">Read More</h5>
            </figcaption>
          </figure>
          {% endif %}
          <div class="category">
            <a
              href="/category/{{post.categories[0] | slugify}}"
              class="badge {{post.badge_color}} badge-pill bg-leaf"
              >{{post.categories[0]}}</a
            >
          </div>
          <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
          <div class="meta mb-0">
            <span class="date">
              <i class="jam jam-clock"></i>{{post.date | date_to_string}}</span
            >
            {% if post.author %}
            <span class="comments"
              ><a href="/authors/{{post.author | slugify}}"
                ><i class="jam jam-user"></i> {{post.author}}</a
              ></span
            >
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
