.image-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    grid-gap: 0px; /* Adjust spacing between items */
}

.image-item {
    display: flex;
    flex-direction: column; /* Stack image and button vertically */
    align-items: center; /* Center the content */
}

.image-container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; /* Space between image and button */
    cursor: pointer;
}

.image-container button {
    display: block;
    width: fit-content;
    text-align: center;
}
.image-container .button {
    margin-top: -10px;
}

@media screen and (max-width: 64em) {
    .image-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Two items per row */
    }
    .image-container .button {
        margin-top: -10px;
        font-size: small;
    }
}

  
  
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
  }
  body{
    background-color: blue !important;
  }

