---
layout: page
title: About
permalink: /about/
feature-img: "assets/img/header/about.webp"
thumbnail: "assets/img/header/about.webp"
tags: [About]
---

<style>
  {% include about.css %}
</style>
<section class="about-1">
  <div class="about-1__description">
    <h1>Hey, I'm Rashad West…</h1>
    <p>
      I’m bringing data science into basketball, creating an algorithm and model
      to analyze player performance with a new perspective. Currently, I’m
      challenging assumptions about the best point guard shooter of all time,
      using data to deepen the conversation. We even developed a STEAM game,
      <strong><i>Beat The Expert</i></strong
      >, allowing players to assess their skills and learn mathematics through
      basketball.
    </p>
    <p>
      This project delves beyond basic stats to explore factors impacting
      shooting performance, including metrics like effective field goal
      percentage and shot quality. I'm excited to introduce tools like shot
      plots, heat maps, and customized box scores, especially for our youth
      players.
    </p>
    <p>
      Thanks for joining me on this journey—I'm looking forward to where it
      takes us! Here’s a bit more of my story…
    </p>
  </div>
  <div class="about-1__image">
    <img
      class=""
      src="{{site.baseurl}}/assets/img/blog-img/Rashad Profile Pic.jpg"
      alt=""
    />
  </div>
</section>
<p class="about-1__foot-text">Let’s get to know each other a little better…</p>
<br />
<hr class="line" />
<br />
<section class="about-2">
  <div class="about-2__description">
    <p>
      Over the years, I’ve dedicated myself to helping young players and fans of
      basketball deepen their skills and understanding of the game through
      data-driven insights and STEAM education. My work is all about challenging
      assumptions, finding new ways to evaluate performance, and supporting
      players as they grow. It's been a privilege to bring innovative tools to
      the game and help others find joy and empowerment in learning through
      basketball.
    </p>
  </div>
  <div class="about-2__flex">
    <div class="about-2__description-1">
      <h2>Education</h2>
      <ul>
        <li>Hampton University, BS, Business Management</li>
        <li>Stanford University, Entrepreneurship & Innovation Program</li>
        <li>New York University, AI School (Artificial Intelligence)</li>
      </ul>

      <h2>Data Analytics Coursework</h2>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.datacamp.com%2Fstatement-of-accomplishment%2Fcourse%2Ffabb7d75677a5fd7cde59a125e02650a7b02fc38"
            target="_blank"
            rel="noopener noreferrer"
            >Datacamp: Introduction to Python</a
          >
        </li>
      </ul>

      <h2>Other CS Coursework</h2>
      <ul>
        <li>
          General Assembly: Introduction to Ruby on Rails (weekend course)
        </li>
        <li>
          General Assembly: Introduction to IOS development (weekend course)
        </li>
        <li>Unity C# Game Development 2D</li>
        <li>CS50: Introduction to Game Development</li>
      </ul>
      <h2>Certifications</h2>
      <ul>
        <li>Google, VR & 360 video certification</li>
        <li>NIL Certification (Front Office Sports, Instagram, Facebook)</li>
        <li>Crypto in Sports Essentials (Front Office Sports, Coinbase)</li>
      </ul>
    </div>
    <div class="about-2__image">
      <img src="{{site.baseurl}}/assets/img/blog-img/League_Biz.jpg" alt="" />
    </div>
  </div>
</section>
<section class="about-3">
  <div class="about-3__flex">
    <div class="about-3__description-1">
      <h2>Projects</h2>
      <ul>
        <li>
          Beat The Expert VR application (version 1)
          <ul>
            <li>It is a virtual trainer</li>
          </ul>
        </li>
        <li>
          Beat The Expert VR application (version 2)
          <ul>
            <li>
              It is a virtual trainer where you can compete with virtual
              characters
            </li>
          </ul>
        </li>
        <li>
          Beat The Expert WebApp
          <ul>
            <li>It houses our curriculum and game</li>
          </ul>
        </li>
        <li>
          Single Mothers VR experience
          <ul>
            <li>Shows an experience of a low-class single mother</li>
          </ul>
        </li>
        <li>
          VR Diamond League
          <ul>
            <li>Producing the next elite athlete</li>
          </ul>
        </li>
        <li>
          Sports Coding game
          <ul>
            <li>Teaching kids how to code through sports</li>
          </ul>
        </li>
      </ul>

      <h2>Innovation Programs</h2>
      <ul>
        <li>
          Berkley Startup Program
          <ul>
            <li>Learned about the legal aspects of a startup</li>
          </ul>
        </li>
        <li>Code 2040 Entrepreneurship weekend</li>
      </ul>
    </div>
    <div class="about-3__image">
      <img src="{{site.baseurl}}/assets/img/blog-img/projects.png" alt="" />
    </div>
  </div>
</section>

<section class="about-4">
  <h2>How I can support you to thrive in your business or career…</h2>
  <div class="about-4__follow-up">
    <div class="about-4__image-1">
      <a
        href="https://sparc.world/RashadWest/calendar/speaking-engagements"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="{{site.baseurl}}/assets/img/blog-img/Speaker1.webp" alt="" />
        <p class="about-4__image-1__para-1">1:1</p>
        <p class="about-4__image-1__para-2">
          Want to dive deep together 1:1 so you can bridge the gap between where
          you are now and where you truly want to be in your business?
        </p>
      </a>
    </div>
    <div class="about-4__image-2">
      <a
        href="https://sparc.world/RashadWest/calendar/speaking-engagements"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="{{site.baseurl}}/assets/img/blog-img/classroom.jpg" alt="" />
        <p class="about-4__image-2__para-1">your simple & spacious business</p>
        <p class="about-4__image-2__para-2">
          My flagship group program for online business owners ready to bring
          more freedom, ease, and intentional growth into your business.
        </p>
      </a>
    </div>
  </div>
</section>

<section class="about-6">
  <h2>What my clients say about working together…</h2>
  <p class="about-6__testimony">
    “BTE Analytics were very professional and detailed during our meeting. The
    amount of shared IP was invaluable.”
  </p>
  <p class="about-6__client-name">Julius,</p>
  <span style="font-size: 300%; color: gold">★</span>
  <span style="font-size: 300%; color: gold">★</span>
  <span style="font-size: 300%; color: gold">★</span>
  <span style="font-size: 300%; color: gold">★</span>
  <span style="font-size: 300%; color: gold">★</span>

  <p class="about-6__date">Oct 3rd, 2023</p>

  <a href="#" target="_blank" rel="noopener noreferrer"
    ><button class="about-6__button">READ MORE ABOUT CLIENT STORIES</button></a
  >
</section>

<section class="about-7">
  <div class="about-7__flex">
    <div class="about-7__description-1">
      <h2>Community</h2>
      <ul>
        <li>Creator, Beat the Expert (STEAM Sport)</li>
        <li>Creator, North Carolina Small Business Fund VR Workshop</li>
        <li>Organizer, Black Wall Street Tech Futures event</li>
        <li>Leadership Team, Catalyst Network Foundation</li>
        <li>Board Member, Greater Development of All Youth (G.D.A.Y Camps)</li>
        <li>Speaker, Microsoft ManCode events</li>
        <li>Speaker, Boys and Girls Club Golf Tournament</li>
        <li>Speaker, Verizon Innovative Learning (NCCU summer initiative)</li>
        <li>Speaker, Shaw University Sports Banquet</li>
        <li>
          Speaker, Saint Augustine University Sports Management Department
        </li>
        <li>Speaker, Johnson C. Smith Sports Management Department</li>
        <li>Speaker, Howard University Sports Management Department</li>
      </ul>
    </div>
    <div class="about-7__image">
      <img
        src="{{site.baseurl}}/assets/img/blog-img/Screenshot 2024-11-03 143947.png"
        alt=""
      />
    </div>
  </div>
</section>

{% include default/email-list.html %}
