---
layout: page
title: Certificates
subtitle: From my Courses and Certificates folder
permalink: /courses-and-certificates
image-gallery: "assets/img/courses-and-certificates"
excluded: true
tags: [Courses, Certificates]
---

<style>
    {% include custom.css %}
</style>

<div class="image-container">
    {% for image in site.data.courses %}
    <div class="image-item">
        <img src="{{image.path | relative_url}}" alt="{{image.title}}">
        <a class="button" href="{{site.baseurl}}{{image.pdf-link}}" download>Download | {{image.title}}</a>
    </div>
    {% endfor %}
</div>

