<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    <!-- Stylesheets-->
    {% include styles.html %} {% if
    site.data.general_settings.google_analytics.enable %}
    <!-- Google Analytics-->
    {% include analytics.html %} {% endif %}
    <style>
      {% include custom.css %}
    </style>
  </head>

  <body {% if page.overflow %} class="overflow-hidden" {% endif %}>
    <div class="content-wrapper">{{ content }}</div>
    <!-- Site Scripts-->
    {% include scripts.html %} {% include backtotop.html %}
  </body>
</html>
