---
layout: default
---

{% include default/carousel.html %}

<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
        img{
            padding: 0 !important;
        }
    </style>
    
    {% include default/intro.html %}

    {% include default/posts_limit.html %}

    {% include default/cta.html %}

    {% include default/insights_clients.html %}

    {% include default/email-list.html %}
</div>

<script>
    
</script>