---
layout: default
---

<style>
@media screen and (min-width: 1024px) {
    .post-content img {
        width: 75%;
        display: flex;
        cursor: pointer;
    }
    .post-content video {
      width: 50%;
      display: flex;
      height: 40%;
  }
}


</style>
<article {% if page.feature-img or page.color %}class="feature-image" {% endif %}>
    <header id="main" style="">
        <div class="title-padder">
            {% if page.hide_title %}
                <div class="feature-image-padding"></div>
            {% else %}
                <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
                {% include blog/post_info.liquid author=page.author date=page.date %}
            {% endif %}
        </div>
    </header>

    <section class="post-content">
    {% if page.bootstrap %}<div class="bootstrap-iso">{% endif %}
            {{ content }}
    {% if page.bootstrap %}</div>{% endif %}
    </section>

    <!-- Social media shares -->
    {% include social/share_buttons.liquid %}

    <!-- Tag list -->
    {% capture tag_list %}{{ page.tags | join: "|" }}{% endcapture %}
    {% include default/tags_list.liquid tags=tag_list %}

</article>

{% include blog/post_footer.liquid color=page.color img=page.feature-img %}

<script>
    const lightbox = document.createElement('div')
lightbox.id = 'lightbox'
document.body.appendChild(lightbox)

const images = document.querySelectorAll('.post-content img')
images.forEach(image => {
  image.addEventListener('click', e => {
    lightbox.classList.add('active')
    const img = document.createElement('img')
    img.src = image.src
    while (lightbox.firstChild) {
      lightbox.removeChild(lightbox.firstChild)
    }
    lightbox.appendChild(img)
  })
})

lightbox.addEventListener('click', e => {
  if (e.target !== e.currentTarget) return
  lightbox.classList.remove('active')
})
</script>