---
layout: default
---
<style>
  hr {
  border: 0;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(var(--rgb-black), 0.65);
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}
</style>

{% include nav/nav-3.html  logo_class="logo" extra_class="" drop_search=true
alignment_class="mx-auto" %}

{% include single-post/classic-post.html %}

{% if page.author %}
{% include author.html %}
{% endif %}
{% if page.slider_post %}
{% include single-post/slider-posts.html slider_post_title="Other Posts You Might Like" container_class="container" %}
{% elsif page.trending %}
{% include single-post/trending-posts.html slider_post_title="Trending Posts" %}
{% endif %}

<div class="wrapper gray-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        {% include disqus-comments.html %}
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
</div>
{% include footer/footer-9.html light_logo="true" %}
